.formSearch {
	width: 25%;
	height: 50%;
	border: 1px solid gray;
	position: absolute;
	top: 25%;
	left: 30%;
	padding: 1em;
	border-radius: 10px;
	background-color: #ebf9fe;
}
.submitButton {
	background-color: #002c76;
	width: 50%;
	padding: 0.5em;
	color: white;
	border-radius: 25px;
	border: 1px;
}

